@model EmpowerIDEMSApp.Models.Employee
    
@{
}


<form method="post" action="Edit">
    <h2>Edit Employee</h2>
    <br />
    <div class="mb-3">
        <label for="" class="form-label">Id:</label>
        <input type="text" class="form-control" asp-for="Id" readonly />
        <label for="" class="form-label">Full Name:</label>
        <input type="text" class="form-control" asp-for="FullName" required/>

        <label for="" class="form-label">Email Address:</label>
        <input type="email" class="form-control" asp-for="EmailAddress"  required/>

        <label for="" class="form-label">Date of Birth:</label>
        <input type="date" class="form-control" asp-for="BirthDate" required/>

        <label for="" class="form-label">Department Name:</label>
        <input type="text" class="form-control" asp-for="DepartmentName" required/>
        <br />
        <button type="submit" class="btn btn-primary" asp-action="Edit" asp-controller="Employee">Update</button>
    </div>

</form>